<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="angular.min.js"></script>
    <title>Area Perimeter</title>
</head>
<body ng-app="">
    <h1 style="text-align: center"><u>Area and Perimeter of Rectangle</u></h1>
    Length: <input type="number" ng-model="num1" /> 
    Breath <input type="number" ng-model="num2" />
    <p><strong>Area of Rectangle :</strong> {{num1*num2}}</p>
    <p><strong>Area of Rectangle :</strong> {{num1+num2+num1+num2}}</p>
</body>
</html>